body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.collection-banner-wrapper {
    width: 100%;
    padding: 50px 0;             
    display: flex;
    justify-content: center;
}

.collection-banner {
    width: 75%;                  
    max-width: 1300px;            
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
}


.collection-banner img {
   height: 500px;
    width: 1500px;
    object-fit: cover;
    display: block;
}


.collection-banner-wrapper {
    width: 100%;
    padding: 40px 0;         
    display: flex;
    justify-content: center;  
}


.collection-banner {
    width: 80%;               
    max-width: 1200px;
    height: 340px;           
    border-radius: 18px;
    overflow: hidden;
}


.collection-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.container {
    max-width: 1540px;
    margin: 0 auto;
}


.filters {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
}


.filters select {
    padding: 8px 12px;
    border: 1px solid black;
    background: white;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}


.price-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.price-filter input[type="range"] {
    width: 150px;
    cursor: pointer;
}

#price-value {
    font-weight: bold;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    width: 100%;
    box-sizing: border-box;
}

.product-card {
    background: white;
    padding: 20px;        
    border-radius: 12px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    min-height: 360px;    
}

.image-box {
    width: 100%;
    height: 300px;       
    position: relative;
    overflow: hidden;
}


.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.6s ease;
}

.product-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    opacity: 0;
    z-index: -1;

    transform: scale(1);
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.image-box:hover .product-img {
    opacity: 0;
    transform: scale(1.1);
}

.image-box:hover .product-image-hover {
    opacity: 1;
    transform: scale(1.1);
}


/* BADGES */
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
}

h4 {
    margin: 12px 0 5px;
    font-size: 16px;
    display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 18px;
  color: #000000;
  text-align: center; 
  max-width: 300px; 
  margin: 0 auto;
}

.brand, .color {
    margin: 3px 0;
    font-size: 13px;
    color: #666;
}

.price {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.old-price {
    color: red;
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 14px;
}

.add-cart-btn {
    width: 100%;
    padding: 10px;
    background: #3D3F84;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

.add-cart-btn:hover {
    background: #000;
    transform: scale(1.03);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.product-card {
    opacity: 0;
    animation: fadeInUp 0.6s ease forwards; 
}
.background-logo-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;          
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);  
    z-index: -1;                
    pointer-events: none;        
    opacity: 0;
    text-transform: uppercase;
    animation: fadeInScale 2s ease forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        opacity: 0.1;
        transform: translate(-50%, -50%) scale(1);
    }
}
