* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body {
    background-color: ghostwhite;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*header*/
.header-container {
    background-color: #ffffff;
    width: calc(100% + 40px);
    margin: -40px -20px 40px -20px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}
.logo img {
    height: 35px;
    width: auto;
}
.nav-group-right {
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: #000; 
    font-weight: 600;
    font-size: 16px;
    font-family: 'Segoe UI', Arial, sans-serif;
    transition: color 0.3s ease;
}
.nav-item:hover {
    color: #00ABEA; 
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon-svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    stroke: #000;
}
.cart-container {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #00ABEA;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}