* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body {
    background-color: ghostwhite;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*carousel*/
.banner {
    --banner-bg: #00ABEA;
    background-color: var(--banner-bg);
    width: calc(100% + 0px);
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 30px;
   
    height: 604px;
    border-radius: 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 60px;
    color: white; 
    overflow: visible;
}
.auto-swap-watch {
    animation:
        floatLoop 4s ease-in-out infinite,
        imageSwap 12s step-end infinite;
}

@keyframes imageSwap {
    0%, 33.32% {
        content: url("https://cdn.prod.website-files.com/676a58d5fdde7ec989f63f29/676a58d5fdde7ec989f63f44_ads1-1.avif");
    }
    33.33%, 66.65% {
        content: url("https://i.ibb.co/Ldq7m9v/watch-removebg.png");
    }
    66.66%, 100% {
        content: url("https://i.ibb.co/6883pY6/watch-black.png");
    }
}
@keyframes floatLoop {
    0% { transform: translate3d(0px, -20px, 0px); }
    25% { transform: translate3d(0px, 15px, 0px); }
    100% { transform: translate3d(0px, -20px, 0px); }
}
.left-side {
    flex: 1.2;
    padding-left: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial Black', sans-serif; 
}
.left-side .percent {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 500;
}
.left-side h1 {
    font-size: 75px;
    line-height: 0.85; 
    margin: 0;
    font-weight: 900;
    letter-spacing: -3px;
    text-transform: uppercase; 
}
.left-side .date {
    margin-top: 35px;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}
    .watch-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.watch-image {
    width: 667px;
    filter: drop-shadow(0 20px 30px rgba(0,0,0,0.2));
    position: relative;
    top: -105px;
    animation: floatLoop 4s ease-in-out infinite;
    transition: opacity 0.3s ease-in-out;
}
#carousel-watch .active{
    display: block;
}
.left_arrow, .right_arrow{
    font-size: 80px;
    background-color: rgb(255, 255, 255);
    color: #00ABEA;
    height: 10%;
    width: 2%;
    border-radius: 100%;
    border: 2px solid #00ABEA;
    cursor: pointer;
}
.left_arrow p, .right_arrow p{
    margin-top: -2rem;
}
.left_arrow{
    position: absolute;
    align-content: flex-start;
    left: -18px;;
}
.right_arrow{
    position: absolute;
    align-content: flex-end;
    right: -19px;
}
#carousel-watch{
    box-shadow: 20px 30px 40px rgb(224, 224, 224);
}
@keyframes floatLoop {
    0% {
        transform: translate3d(0px, -20px, 0px);
    }
    50% {
        transform: translate3d(0px, 10px, 0px);
    }
    100% {
        transform: translate3d(0px, -20px, 0px);
    }
}
        .right-side {
            flex: 1;
            padding-right: 10px;
        }

        .right-side .brand {
            font-size: 1.2rem;
            margin-bottom: 0;
        }

        .right-side h2 {
            font-size: 3.2rem;
            margin: 0 0 10px 0;
            font-weight: 700;
        }

        .right-side p {
            font-size: 0.95rem;
            line-height: 1.4;
            max-width: 280px;
            font-weight: 400;
        }
.shop-now-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #ffffff; 
    color: #00ABEA; 
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px solid #ffffff;
    order: 0;
}
.banner-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    z-index: 100;
    transition: all 0.3s ease;
}
.banner-nav-btn:hover {
    background-color: #ffffff;
    color: #00ABEA;
}
.banner-nav-btn svg {
    width: 18px;
    height: 18px;
}
.prev { left: 15px; }
.next { right: 15px; }
.watch-image {
    transition: opacity 0.3s ease-in-out;
}
.shop-now-btn:hover {
    background-color: transparent;
    color: #ffffff;
    transform: translateY(-3px); 
}

/*category*/
.cat-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto 60px auto;
}
.prod-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}
.cat-item-card {
    position: relative;
    border-radius: 20px;
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.cat-item-card img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 80%;
    width: auto;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.4s ease;
}
.cat-item-card:hover img {
    transform: scale(1.1);
}
.card-content { 
    z-index: 2; 
}
.label { 
    font-size: 14px; 
    margin-bottom: 5px; 
    display: block; 
}
.title-top { 
    font-size: 24px; 
    font-weight: 600;
}
.title-main { 
    font-size: 32px; 
    font-weight: 800; 
    display: block; 
    opacity: 0.4;
    margin-top: -5px;
    color: black;
}
.browse-btn {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    width: fit-content;
}
.card-earphone { background-color: #b9e8ff; color: black; }
.card-earphone .browse-btn { color: black; }
.card-watch { background-color:  #9EDBFF ; color: black; }
.card-watch .browse-btn { color: black; }
.card-laptop { background-color: #0088CC ; color: black; }
.card-laptop .browse-btn { color: black; }
.card-console { background-color: #878fc1; color: #333; }
.card-oculus { background-color: #6b61c2 ; color: black; }
.card-speaker { background-color: #5450a7; color: black; }

/*new launches*/
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.image-container:hover .hover-img {
  opacity: 1;
}
.main-img {
    opacity: 1;
    z-index: 0;
}
.prod-item-box:hover .hover-img {
    opacity: 1;
    transform: scale(1.01); 
}
.prod-item-box:hover .main-img {
    opacity: 0; 
    transform: scale(1.03); 
}
.quick-buy {
    position: absolute;
    top: 15px;
    right: 15px;
    background: black;
    color: white;
    padding: 8px 12px;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.prod-item-box:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.prod-item-box {
    /* Set a fixed or flexible uniform width */
    width: 100%; 
    max-width: 250px; /* Adjust this to your preferred box size */
    
    /* Force uniform height */
    height: 360px; /* Adjust based on your tallest content */
    
    /* Layout fix */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps price at bottom, image at top */
    
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    overflow: hidden;
    /* Ensure the image area is also uniform */
    height: 200px; 
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    /* This is the secret sauce: it prevents stretching */
    object-fit: contain; 
    display: block;
}
/* .image-container {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
} */
.product-info {
    padding: 15px;
    text-align: left;
     border: 1px solid #cbc6c6;
    border-radius: 12px;    
    overflow: hidden;      
    display: flex;
    flex-direction: column;
    background: ghostwhite;
    transition: box-shadow 0.3s ease;
}
.product-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 8px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}
/*blogs*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.section-header {
    text-align: center;
    margin-bottom: 50px;
}
.sub-title {
    color: #00ABEA;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.main-title {
    font-size: 38px;
    font-weight: 800;
    margin-top: 35px;
}
.blog-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.blog-card {
    background: #fff;
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    border-radius: 4px;
    overflow: hidden;
}
.blog-image {
    width: 100%;
    height: 240px;
    overflow: hidden; 
}
.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.blog-card:hover .blog-image img {
    transform: scale(1.1); 
}
.blog-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}
.blog-meta {
    font-size: 13px;
    color: #777;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.blog-meta .date {
    color: #00ABEA;
}
.blog-meta .date strong {
    font-size: 26px;
    font-weight: 700;
}
.blog-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.3;
}
.blog-excerpt {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
    flex-grow: 1; 
}

.read-more {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-top: auto; 
    transition: color 0.3s;
}
.read-more:hover {
    color: #00ABEA;
}
.read-more i {
    font-style: normal;
    margin-left: 5px;
}/*about*/
.about-us {
  background-color: #f9f9f9;
  padding: 60px 20px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 800px;
  text-align: center;
}

.about-title {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
}


.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}


.modal-container {
    display: flex;
    width: 850px;
    height: 550px;
    background: white;
    position: relative;
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.modal-section {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.modal-text {
    background-color: #fceceb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.psst { font-size: 18px; letter-spacing: 2px; color: #444; margin: 0; }
.promo-head { font-size: 70px; font-weight: 800; color: #242e23; margin: 10px 0; }
.promo-desc { font-size: 14px; color: #555; line-height: 1.5; margin-bottom: 25px; }

.modal-form input {
    width: 100%;
    padding: 15px;
    border: 1px solid #000;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.continue-btn {
    width: 100%;
    padding: 15px;
    background: #242e23;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 860px) {
    .modal-container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .modal-image { height: 250px; order: -1; }
}



.brands-section {
    max-width: 1250px;
    margin: 60px auto;
    text-align: left;
}

.brands-section h2 {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.brands-section p {
    color: #555;
    font-size: 15px;
    text-align: center;
}

.brands-row {
    margin-top: 25px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: space-between;
}

.brand-card {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    transition: transform .3s ease;
}

.brand-card:hover {
    transform: scale(1.1); 
}

.brand-card img {
    width: 2000px;       
    max-width: 200px; 
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.brand-card:hover img {
    filter: grayscale(0%);
}

.custom-divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #333; 
  display: flex;
  align-items: center;
}

.accent-bar {
  position: absolute;
  left: 70%;
  height: 20px;  
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.heading {
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    font-size: 38px;
    font-weight: 800;
    padding-top: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 10px;
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 1rem;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.loader.hidden {
  display: none;
}











@media (min-width: 500px) and (max-width:800px) {

  body {
    padding: 20px 10px;
  }

  .banner {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    width: 100%;
    border-radius: 20px;
  }

  .left-side {
    text-align: center;
    align-items: center;
  }

  .left-side h1 {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .left-side .date {
    margin-top: 15px;
    font-size: 1rem;
  }

  .watch-container {
    margin-top: 20px;
  }

  .watch-image {
    width: 280px;
    top: 0;
  }


  .left_arrow,
  .right_arrow {
    width: 40px;
    height: 40px;
    font-size: 68px;
  }

  .left_arrow {
    left: 5px;
    border-radius: 21%;
  }

  .right_arrow {
    right: 5px;
    border-radius: 21%;
  }
  .cat-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto 60px auto;
}
browse-btn {
    margin-top: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    width: fit-content;
}
.cat-item-card img {
    position: absolute;
    right: -31px;
    bottom: 21px;
    height: 150px;
    width: 150px;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.4s ease;
}

.right_arrow,left_arrow{
    padding-top: 2px;
}
brands-row {
    margin-top: 25px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: space-between;
}

.brand-card {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    transition: transform .3s ease;
}

.brand-card:hover {
    transform: scale(1.1); 
}

.brand-card img {
    width: 2000px;       
    max-width: 200px; 
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.brand-card:hover img {
    filter: grayscale(0%);
}
}



/* 
@media (min-width: 601px) and (max-width: 1024px) {

  .banner {
    height: 480px;
    padding: 0 40px;
  }

  .left-side h1 {
    font-size: 56px;
  }

  .watch-image {
    width: 500px;
    top: -70px;
  }


  .left_arrow,
  .right_arrow {
    font-size: 70px;
    width: 3%;
    height: 10%;
  }

  .left_arrow {
    left: -16px;
  }

  .right_arrow {
    right: -18px;
  }
} */




@media (min-width: 1367px) {
    .cat-grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .cat-item-card {
        height: 260px;
        padding: 35px;
    }

    .title-main {
        font-size: 34px;
    }
}


@media (min-width: 991px) and (max-width: 1366px) {
    .cat-grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .cat-item-card {
        height: 240px;
        padding: 30px;
    }

    .title-top {
        font-size: 22px;
    }

    .title-main {
        font-size: 30px;
    }

    .cat-item-card img {
        height: 75%;
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .cat-grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cat-item-card {
        height: 230px;
        padding: 25px;
    }

    .title-top {
        font-size: 20px;
    }

    .title-main {
        font-size: 28px;
    }

    .cat-item-card img {
        height: 70%;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .cat-grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .cat-item-card {
        height: 210px;
        padding: 20px;
    }

    .title-top {
        font-size: 18px;
    }

    .title-main {
        font-size: 24px;
    }

    .browse-btn {
        padding: 8px 16px;
        font-size: 11px;
    }

    .cat-item-card img {
       height: 66%;
        right: -16px;
        bottom: -10px;
    }
}


@media (max-width: 480px) {
    .cat-grid-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0 10px;
    }

    .cat-item-card {
        height: 200px;
        padding: 18px;
        border-radius: 16px;
    }

    .label {
        font-size: 12px;
    }

    .title-top {
        font-size: 18px;
    }

    .title-main {
        font-size: 22px;
    }

    .browse-btn {
        margin-top: 15px;
        padding: 7px 14px;
        font-size: 11px;
    }

        .cat-item-card img {
        position: absolute;
        right: -31px;
        bottom: 21px;
        height: 150px;
        width: 106px;
        object-fit: contain;
        z-index: 1;
        transition: transform 0.4s ease;
    }
}


@media (min-width: 1367px) {
    .brands-section {
        max-width: 1250px;
    }

    .brands-row {
        gap: 80px;
    }

    /* .brand-card img {
        max-width: 200px;
    } */
}
@media (min-width: 991px) and (max-width: 1366px) {
    .brands-section {
        max-width: 1100px;
    }

    .brands-row {
        gap: 60px;
    }

    /* .brand-card img {
        max-width: 180px;
    } */
}


@media (min-width: 769px) and (max-width: 990px) {
    .brands-section {
        max-width: 900px;
    }

    .brands-row {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .brand-card {
        flex: 0 0 30%;
        margin-bottom: 20px;
    }

    .brand-card img {
        max-width: 160px;
    } */
}

@media (min-width: 481px) and (max-width: 768px) {
    .brands-section {
        max-width: 100%;
        padding: 0 20px;
    }

    .brands-row {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .brand-card {
        flex: 0 0 45%;
        margin-bottom: 20px;
    }

    .brand-card img {
        max-width: 150px;
    } */

    .brands-section h2 {
        font-size: 24px;
    }

    .brands-section p {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .brands-section {
        margin: 40px auto;
        padding: 0 15px;
    }

    .brands-row {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .brand-card {
        flex: 0 0 100%;
    }

    .brand-card img {
        max-width: 140px;
    } */

    .brands-section h2 {
        font-size: 22px;
    }

    .brands-section p {
        font-size: 13px;
    }
}


@media (min-width: 769px) and (max-width: 990px) {
    .brands-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .brand-card {
        flex: 0 0 45%;   
    }

    .brand-card img {
        max-width: 170px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .brands-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .brand-card {
        flex: 0 0 45%;   
    }

    .brand-card img {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .brands-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .brand-card {
        flex: 0 0 48%;   
    }

    .brand-card img {
        max-width: 130px;
    }
}




@media (min-width: 1367px) {
    .prod-grid-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 991px) and (max-width: 1366px) {
    .prod-grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
}


@media (min-width: 769px) and (max-width: 990px) {
    .prod-grid-wrapper {
        grid-template-columns: repeat(3, 1fr); /* ✅ REQUIRED */
        gap: 22px;
    }

    .prod-item-box {
        max-width: 100%;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .prod-grid-wrapper {
        grid-template-columns: repeat(2, 1fr); /* ✅ REQUIRED */
        gap: 20px;
    }

    .prod-item-box {
        height: 350px;
    }
}


@media (max-width: 480px) {

    .prod-grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* ✅ 3 per row */
        gap: 10px;
        padding: 0 8px;
    }

    /* IMPORTANT FIX */
    .prod-item-box {
        max-width: 100%;    
        height: 310px;
        padding: 10px;
    }

    .image-container {
        height: 140px;
    }

    .product-title {
        font-size: 13px;
        line-height: 1.2;
    }

    .product-price {
        font-size: 13px;
    }

    .quick-buy {
        font-size: 9px;
        padding: 6px 8px;
    }
}



/* Desktop - Large Screens */
@media (min-width: 1367px) {
    .container {
        max-width: 1200px;
    }
    .blog-card {
        max-width: 360px;
    }
}

/* Laptops */
@media (min-width: 991px) and (max-width: 1366px) {
    .container {
        max-width: 1100px;
    }
    .blog-card {
        max-width: 340px;
    }
}

/* Large Tablets */
@media (min-width: 769px) and (max-width: 990px) {
    .blog-grid {
        gap: 20px;
    }
    .blog-card {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .blog-image {
        height: 220px;
    }
}

/* Smaller Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .blog-grid {
        gap: 20px;
    }
    .blog-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-image {
        height: 210px;
    }
    .main-title {
        font-size: 30px;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
    .blog-grid {
        gap: 16px;
    }
    .blog-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-image {
        height: 190px;
    }
    .blog-content {
        padding: 20px;
    }
    .blog-title {
        font-size: 18px;
    }
    .main-title {
        font-size: 26px;
    }
}





@media (min-width: 991px) and (max-width: 2000px) {

    .banner {
        height: 540px;
        padding: 0 40px;
        border-radius: 26px;
    }

    .left-side h1 {
        font-size: 62px;
        letter-spacing: -2px;
    }

    .left-side .date {
        font-size: 1.1rem;
        margin-top: 25px;
    }

    .watch-image {
        width: 560px;
        top: -80px;
    }

    .right-side h2 {
        font-size: 2.6rem;
    }

    .right-side p {
        font-size: 0.9rem;
    }

    .left_arrow,
    .right_arrow {
        font-size: 60px;
        width: 36px;
        height: 36px;
    }
}




@media (min-width: 769px) and (max-width: 990px) {

    /* .banner {
        height: auto;
        padding: 50px 30px;
        flex-wrap: wrap;
        text-align: center;
    }

    .left-side,
    .right-side {
        flex: 100%;
        padding: 0;
        align-items: center;
    }

    .left-side h1 {
        font-size: 52px;
        line-height: 0.95;
    }

    .watch-container {
        order: 2;
        margin: 40px 0;
    }

    .watch-image {
        width: 480px;
        top: 0;
    }

    .right-side {
        order: 3;
    }

    .right-side p {
        max-width: 420px;
        margin: 0 auto;
    }

    .left_arrow,
    .right_arrow {
        display: none;
    } */
      body {
    padding: 20px 10px;
  }

  .banner {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    width: 100%;
    border-radius: 20px;
  }

  .left-side {
    text-align: center;
    align-items: center;
  }

  .left-side h1 {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .left-side .date {
    margin-top: 15px;
    font-size: 1rem;
  }

  .watch-container {
    margin-top: 20px;
  }

  .watch-image {
    width: 280px;
    top: 0;
  }


  .left_arrow,
  .right_arrow {
    width: 40px;
    height: 40px;
    font-size: 68px;
  }

  .left_arrow {
    left: 5px;
    border-radius: 21%;
  }

  .right_arrow {
    right: 5px;
    border-radius: 21%;
  }
  .cat-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto 60px auto;
}
browse-btn {
    margin-top: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    width: fit-content;
}
.cat-item-card img {
    position: absolute;
    right: -31px;
    bottom: 21px;
    height: 150px;
    width: 150px;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.4s ease;
}

.right_arrow,left_arrow{
    padding-top: 2px;
}
brands-row {
    margin-top: 25px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: space-between;
}

.brand-card {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    transition: transform .3s ease;
}

.brand-card:hover {
    transform: scale(1.1); 
}

.brand-card img {
    width: 2000px;       
    max-width: 200px; 
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.brand-card:hover img {
    filter: grayscale(0%);
}
}




@media (min-width: 481px) and (max-width: 768px) {

    /* .banner {
        padding: 40px 20px;
        border-radius: 22px;
    }

    .left-side h1 {
        font-size: 42px;
    }

    .left-side .percent {
        font-size: 1.2rem;
    }

    .watch-image {
        width: 360px;
    }

    .right-side h2 {
        font-size: 2.2rem;
    }

    .right-side p {
        font-size: 0.9rem;
        max-width: 360px;
        margin: auto;
    }

    .shop-now-btn {
        padding: 10px 26px;
        font-size: 13px;
    } */
     body {
    padding: 20px 10px;
  }

  .banner {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    width: 100%;
    border-radius: 20px;
  }

  .left-side {
    text-align: center;
    align-items: center;
  }

  .left-side h1 {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
  }

  .left-side .date {
    margin-top: 15px;
    font-size: 1rem;
  }

  .watch-container {
    margin-top: 20px;
  }

  .watch-image {
    width: 280px;
    top: 0;
  }


  .left_arrow,
  .right_arrow {
    width: 40px;
    height: 40px;
    font-size: 68px;
  }

  .left_arrow {
    left: 5px;
    border-radius: 21%;
  }

  .right_arrow {
    right: 5px;
    border-radius: 21%;
  }
  .cat-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto 60px auto;
}
browse-btn {
    margin-top: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    width: fit-content;
}
.cat-item-card img {
    position: absolute;
    right: -31px;
    bottom: 21px;
    height: 150px;
    width: 150px;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.4s ease;
}

.right_arrow,left_arrow{
    padding-top: 2px;
}
brands-row {
    margin-top: 25px;
    display: flex;
    gap: 80px; 
    align-items: center;
    justify-content: space-between;
}

.brand-card {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    transition: transform .3s ease;
}

.brand-card:hover {
    transform: scale(1.1); 
}

.brand-card img {
    width: 2000px;       
    max-width: 200px; 
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.brand-card:hover img {
    filter: grayscale(0%);
}
}





@media (max-width: 480px) {

    .banner {
        padding: 30px 16px;
        border-radius: 18px;
        margin-left: 0;
        margin-right: 0;
    }

    .left-side h1 {
        font-size: 34px;
        letter-spacing: -1px;
    }

    .left-side .date {
        font-size: 1rem;
        margin-top: 18px;
    }

    .watch-container {
        margin: 30px 0;
    }

    .watch-image {
        width: 280px;
    }

    .right-side h2 {
        font-size: 1.8rem;
    }

    .right-side p {
        font-size: 0.85rem;
        max-width: 100%;
    }

    .shop-now-btn {
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }

    .left_arrow,
    .right_arrow {
        display: none;
    }
}

