* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
}

.page-bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.login-card {
    width: 1100px;
    height: 620px;
    background: #fff;
    border-radius: 28px;
    display: flex;
    overflow: hidden;
    border: 2px solid black;
}

.login-left {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand img {
    max-width: 150px; 
    height: auto;     
    display: block;   
    margin-bottom: 20px;
}

.brand {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}
.login-left h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}


label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
    color: #444;
}

input {
    width: 100%;
    padding: 14px 18px;
    border-radius: 30px;
    border: none;
    background: #f4f4f4;
    margin-bottom: 18px;
    outline: none;
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 6px;
}

.row a {
    text-decoration: none;
    color: #8a6b52;
}

.login-btn {
    padding: 16px;
    border-radius: 30px;
    background: #555e7e;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 97%;
}

.login-right {
    width: 50%;
    background: #30354c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right img {
    max-width: 85%;
    height: auto;
    object-fit: contain;
}

.switch {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
}

.switch a {
    color: #919cd5;
    text-decoration: none;
    font-weight: 500;
}
@media (max-width: 900px) {
    .login-card {
        flex-direction: column;
        height: auto;
        width: 95%;
    }

    .login-left,
    .login-right {
        width: 100%;
    }

    .login-right {
        padding: 40px;
    }
}
